.window{
    position: absolute;
    width: 90%;
    top: 100px;
    z-index: 1;
    left: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* grid-row: 20px !important; */
    display: none;
}
.badge{
    display: none;
}
.cross{
    display: flex;
    justify-content: space-between;
    display: none;
}
.window>.card{
    width: 30%;
    margin: 20px 0;
}
@media screen and (max-width:400px){
    .srch{
        width: 100px;
    }
    .window>.card{
        width: 80%;
        margin: 20px 0;
    }
}